$colorwhite: #fff;
$colorprimary: #009548;
$colorsecondary: #d19617;
$colorred: #f87171;

$colorblue: #8887da;
$colorlightteal: #6BCBC7;
$colordarkskin: #da9187;
$colorgreen: #76ca8a;
$colorpurple: #c78ad8;
$colororange: #dba872;